<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MULTIMIDIA/View/Css/welcome.css">
    <script src="/MULTIMIDIA/View/Js/funcoes.js"></script>
    <title>Bem Vindo</title>
</head>
<body>
    <div class="fundo">
        <img src="/MULTIMIDIA/View/Img/ubuntu.jpg" alt="">
        <div class="overlay"></div>
        <h2>Selecione o tipo de Reprodutor</h2>
        <div class="container">
            <div onclick="Musica()">
                <img src="/MULTIMIDIA/View/Img/Music1.png" alt="">
                <label>Musica</label>
            </div>
            <div onclick="Video()">
                <img src="/MULTIMIDIA/View/Img/Video2.png" alt="">
                <label>Video</label>
            </div>
            <div onclick="Filme()">
                <img src="/MULTIMIDIA/View/Img/Movie2.png" alt="">
                <label>Filme</label>
            </div>
        </div>
        <footer>
            <label>Desenvolvido por Savage Code Gang</label>
        </footer>
    </div>
    
</body>
</html>